<section class="container">
    {{!-- <div class="title">
        <h2 class="top-header" style="display: inline">{{posting.title}}</h2>
        <h5 class="user">Posted by {{posting.user.username}} on {{posting.date_created}}</h5>
    </div>
    <div>
        <h4 class="text">{{posting.content}}</h4>
    </div> --}}

    <div class="card text-center">
        <div class="card-header">
            {{posting.title}}
        </div>
        <div class="card-body">
            <p class="card-text">{{posting.content}}</p>
        </div>
        <div class="card-footer text-muted">
            Posted by {{user.username}} on {{posting.date_created}}
            {{#if posting.from_user}}
            <button class="btn btn-primary"><a href="/editpost/{{posting.id}}">EDIT</a></button>
            {{/if}}
        </div>

        </a>
    </div>
</section>


<section class="container">
    <form class="add-comment-form">
        <div class="form-group">
            <label>Add Comment</label>
            <input type="text" class="form-control" id="comment-box">
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
</section>




<section class="container">
    <h2>Comments</h2>
    {{#each comments as |comment|}}
    {{!-- <div class="title">
        <h5 class="user">Posted by {{user.username}} on {{comment.date_created}}</h5>
    </div>
    <div>
        <h4 class="text">{{comment.content}}</h4>
    </div> --}}

    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">{{comment.content}}</p>
        </div>
        <div class="card-footer text-muted">
            Posted by {{user.username}} on {{comment.date_created}}
            {{#if comment.from_user}}
            <button class="btn btn-primary"><a href="/editcomment/{{comment.id}}">EDIT</a></button>
            {{/if}}
        </div>

    </div>
    {{/each}}
</section>

<script src="/js/post.js"></script>